@font-face{
	font-family: 'ArcaneWide';
	src: url("fonts/ARCANW.TTF") format("truetype");
}

*{margin:0; padding:0;}

.logo_class{
	width:50px;
	height:auto;
	display:inline;
}
abbr{
	margin:0;
}
body{
	background:#ddd;
}

/************************************************************************************************//************************************************************************************************//************************************************************************************************/
/*****     login page CSS    *****/
.color_white{
	color:#FFF;
	font-size:25px;
}
.form-check-input {
    margin-top: 1.1rem;
    margin-left: 0px;
}

.form-check-label {
    margin-bottom: 0;
    margin-left: 18px;
}

.login_btn {
    margin-top: 20px;
    margin-left: 166px;
}
.pad130{
    padding-left: 938px;

}
.marleft{
	margin-top:30px;
	margin-left:152px;
}

.grad1{
	background-image: linear-gradient(to bottom, #0d0e11, #243e66 , #080809);
}

#Login_div{
    width: 100%;
    height: 800px;
    /*background-color:#0E0B2B; */
    padding: 0;
}

.login_col{
	margin: 30px 0 0 -96px;
}
.login_heading{
	color: #52d7ff;
    font-size: 36px;
    margin: 40px 0px 33px 169px;
}


.login_col p {
    padding-left: 167px;
    padding-top: 46px;
    color: #FFF;
    font-size: 21px;

}

.login_col a{
	color:#e92d2d;
	text-decoration:none;
	padding:0px 5px 3px 5px;
}
.login_col a:hover{

	color:#FFF;
	background-color:#951521;
	border-radius:3px;

}

.login_box1{
	width: 901px;
    height: auto;
    margin-left: -60px;
    margin-top: 0px;
}


.forgot_btn button{
	margin: 37px 0 0 0px;
	background-color:initial;
	color:#FFF;
	border:none;
}

.visit_link{
	margin: 43px 0 0 136px;
}

.visit_link a{
	margin: 37px 0 0 24px;
	color:#FFF;
	text-decoration: none;
}


.forgot_btn button:hover{
	color:red;
	background-color:initial;
}


/************************************************************************************************//************************************************************************************************//************************************************************************************************/
/*****     Sign up page CSS    *****/

#signup_div{
    width: 100%;
    height: 1100px;
    background-color:#0E0B2B;
    padding: 0;
}
.grad2{
	background-image: linear-gradient(to right, #0d0e11, #243e66 , #080809);
}

.signin_box1{
	width: 800px;
    height: auto;
    margin-left: -60px;
    margin-top: -15px;
}

.Sign_up_heading{
	color: #52d7ff;
    font-size: 35px;
    margin: 44px 69px 55px 8px;
}

.signup_col1{
	margin-top: 40px;
}

.signup_col1{
	margin-top: 85px;
}

.sign_pad{
	padding-left:25px;
}
.sign_radio{
	
	margin:10px;
	padding:2px;
}

.sign_btn_pad{
	font-size: 27px;
    margin-top: 34px;
    margin-left: 274px;
    padding: 1px 40px;
}

.check_show_pass{
	color: #FFF;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 16px;
}

.form_ck_in{
    margin-top: 1.1rem;
    margin-left: -29px;
}


/************************************************************************************************//************************************************************************************************//************************************************************************************************/
/*****Home page CSS*****/

.animated-text{
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: 'ArcaneWide';
}

.neons {
   margin-top: 30px;
   text-align: center;
}

.neons h1 {
  font-size: 100px;
  text-align: center;
   font-weight: bold;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
from {
    color: #fff;
    text-shadow: 0 0 10px #00fff2, 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 90px #00fff2;
  }
  
to{
    color: black;
    text-shadow: 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 80px #00fff2, 0 1 90px #00fff2;
  }
}

/*This sceond animation */


/*Second animation completed */

.navbar{
	line-height: 1;
}
.bg-dark {
    background-color: #121120!important
}
.dropdown-menu {
    background-color: #0b0a0a;
}
.dropdown-item {
    color: #89c4ff;
}
.btn-outline-success {
    color: #2aaefc;
    border-color: #5d9bd9;
}
.form-inline button:hover{
	background-color:#2aaefc;
}
.nav-link{
	color:#2aaefc;
}

.dropdown-menu img{
	width:30px;
	display:inline;
	margin-right:5px;
	padding:0;
}

.bd_img_round{
	border-radius:50%;
}


#header{
	width:100%;
	height:855px;
	background-image: url('../images/bg1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding:0;
}


/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

.example1 {
	margin-top: -92px;
	padding:0 20px;
    height: 68px;
    overflow: hidden;
    position: relative;
    background-color: #0E0B2B;
    /*border-radius: 8px 8px 0px 0px;*/
}
.example1 h3 {
    font-size: 42px;
    color: #3ef7ff;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 10px;
    line-height: 30px;
    text-align: center;
    padding: 14px 0px;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);	
 transform:translateX(100%);
 /* Apply animation to this element */	
 -moz-animation: example1 15s linear infinite;
 -webkit-animation: example1 15s linear infinite;
 animation: example1 15s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes example1 {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes example1 {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes example1 {
 0%   { 
 -moz-transform: translateX(100%); /* Firefox bug fix */
 -webkit-transform: translateX(100%); /* Firefox bug fix */
 transform: translateX(100%); 		
 }
 100% { 
 -moz-transform: translateX(-100%); /* Firefox bug fix */
 -webkit-transform: translateX(-100%); /* Firefox bug fix */
 transform: translateX(-100%); 
 }
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
 
 
.our_col{
	margin-top:100px;
	padding-left:20px;
	padding-right:0px;
}
 

.our_col p{
	margin-top: 100px;
    margin-left: 100px;
	padding-left:10px;
    padding-right: 20px;
	padding-bottom:4px;
    color: #FFF;
    border-left: 10px solid #2ce52b;
    background-color: #1f3b55;
    display: inline;
}
.our_col h2{
	padding-left:150px;
	margin-top:25px;
	color:#FFF;
	font-family:KabelItcTEEUlt;
	font-size:34px;
	
}
.our_col h3{
	padding-left:150px;
	color:#FFF;
	font-family:KabelItcTEEUlt;
	font-size:34px;
}
.our_col h4{
    margin: 15px 218px;
    padding: 5px;
    color: #ffffff;
    background-color: #2263ce;
    font-size: 18px;
    text-align: justify;
    border-radius: 12px;
}

.collapse{
	padding-left:95px;
}

.font1{
	
	font-family:CityDEEBol;
	font-size:38px;
}
.font2{
	font-family:KabelItcTEEUlt;
	font-size:21px;
}
.search_pad{
	padding-right:25px;
}
.title_pad{
	padding-left:25px;
}


.box1{
	left: -12px;
    top: -30px;
    position: relative;
    z-index: 1;
    width: 733px;
}
	
.box2 {
    left: -344px;
    top: -5px;
    position: relative;
    z-index: 10;
}
.second_div{
	height:450px;
	border-bottom:2px solid #121120;
}

.our_class{
	padding-top:30px;
	background-color:#ddd;
	border:none;
}
.our_class p{
	text-align:justify;
	color:#000;
}

.third_div{
    height: 530px;
	background-color:#ddd;
	border-bottom:2px solid #121120;
}

.our_class1{
	padding-top:30px;
	border:none;
}

.our_class1 img{
	width:100%;
	max-width:480px;
    padding-top: 30px;
    padding-left: 0px;
}

.our_class1 h2{
	color: #2271b6;
    padding-top: 74px;
	padding-left:20px;
}
.our_class1 p{
	padding-right:30px;
	padding-left:20px;
	text-align:justify;
}

.our_class1 a{
	text-decoration:none;
	color: #111;
}
.our_class1 a:hover{
	text-decoration:none;
	color: #c80808;
}

.our_class2 img{
	width:100%;
	max-width:480px;
	height:auto;
	padding-top: 73px;
    padding-left: 0px;
}

.our_class2 h2{
	color: #2271b6;
    padding-top: 96px;
	padding-left:20px;
}
.our_class2 p{
	padding-right:30px;
	padding-left:20px;
	text-align:justify;
}
.our_class2 a{
	text-decoration:none;
	color: #111;
}
.our_class2 a:hover{
	text-decoration:none;
	color: #c80808;
}


.slider1{
	margin-top: 6px;
	border: 10px solid #0E0B2B;
    padding: 5px 5px;
}
	
.div4{
	background-color:#ddd;
	margin-top: 38px;
}
.div4 h2{
	line-height: 1.6;
	display: inline;
    border-left: 10px solid #d51717;
    font-family: Chisel;
    font-size: 34px;
    background-color: #ffb5b5;
	margin-bottom:0px;
	padding: 5px;
}

.div4 p{
	text-align:justify;
	margin-bottom:0;
	padding-top:0px;
	padding-bottom:10px;
	
}

.div4 a{
	padding-left:30px;
	text-decoration:none;
	color: #111;
}
.div4 a:hover{
	text-decoration:none;
	color: #c80808;
}

.div4 ul{
	padding:20px 20px;
	list-style-type: square;
	font-weight:bold;
}

.div5{
	width:100%;
	height:auto;
	background-color:#ddd;
}

.div5 h2{
    margin: 40px 11px 0px 0px;
    font-size: 33px;
    color: #4b83ac!important;
}
.div5 img{
	width: 243px;
    margin-top: 10px;
	position: relative;
	animation-name: upDown;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-delay: 0.5s;
	animation-direction: alternate;
}

@keyframes upDown{
	from{bottom:0;}
	to{bottom: 70px;}
}

.div5 p{
	font-size:16px;
	text-align:justify;
	margin:10px 163px 20px 5px;
}

.div5 table {
	margin-top:15px;
	margin-bottom:15px;
	text-align:center;
    border-collapse: collapse;
    width: 100%;
	border:2px solid #111;
}

.div5 th, td {
    text-align: left;
    padding: 8px;

}

.div5 tr:nth-child(even){background-color: #f2f2f2}

.div5 th {
    background-color: #172838;
    color: white;
	
}

.left-col{
	padding:10px 0px;
}


/* Right column */
.right-col{
	padding:5px 0px;
	margin-top:60px;
	background-color:#ddd;
	height:auto;
	width:100%;

}

.guranty_img{
	width: 274px;
    height: auto;
    margin: 5px 0px 10px 10px;
    border-radius: 11px;
}

.index_query{
	background-color:#121120!important;
	height:auto;
	margin-left:10px;
}
.index_query h3{
	color:#FFF;
	padding:10px 10px;
}

.index_query_btn{
    margin-left: 12px;
    margin-bottom: 20px;
    padding: 5px 107px;
}
.form-check {
    position: relative;
    display: block;
    padding-left: 1.0rem;
}

.form-check label{
	color:#FFF;
	font-size: 15px;
    margin-top: 12px;
}


.index_ad1{
	height:400px;
	border: 2px solid #111;
	margin-top:30px;
	margin-left:10px;
	background-color:#121120!important;
}

.index_ad1 img{
	width: 95%;
    margin-bottom: 0px;
    margin: 7px;
}
.index_ad1 h3{
	color:#FFF;
	margin:5px;
}
.index_ad1 p{
	text-align:justify;
	margin:10px;
	color:#FFF;
}

.index_ad2{
	height:400px;
	border: 2px solid #111;
	margin-top:30px;
	margin-left:10px;
	background-color:#0a1b47;
}
.index_ad2 img{
	width: 100%;
    margin-bottom: 1px;
}
.index_ad2 h3{
	color:#6eebf8;
	margin:5px;
}
.index_ad2 p{
	text-align:justify;
	margin:10px;
	color:#ff8787;
}
.index_ad2 a{
	color:#FFF;
}

.index_ad3{
	height:300px;
	border: 2px solid #111;
	margin-top:30px;
	margin-left:10px;
	background-color:#121120!important;
}

.index_ad3 img{
	width: 95%;
    margin-bottom: 0px;
    margin: 7px;
}
.index_ad3 h3{
	margin:5px;
	color:#FFF;
}
.index_ad3 p{
	text-align:justify;
	margin:10px;
	color:#FFF;
}


.index_ad4{
	height:450px;
	border: 2px solid #111;
	margin-top:30px;
	margin-bottom:30px;
	margin-left:10px;
	background-color:#121120!important;
}

.index_ad4 img{
	width: 95%;
    margin-bottom: 0px;
    margin: 7px;
}

.index_ad4 h3{
	margin:5px;
	color:#FFF;
}
.index_ad4 p{
	text-align:justify;
	margin:10px;
	color:#FFF;
}


.footer_top{
	height:auto;
	background-color:#151414;
}

.footer_col1{
	height:auto;
	margin:30px 0px 20px 0px;
	padding:0;
}

.footer_col1 h3{
	font-size: 30px;
    border-bottom: 2px solid #946ac4;
    color: #5fdaff;
}

.footer_col1 ul{
	list-style-type:none;
	
}
.footer_col1 a{
	text-decoration:none;
}

.footer_col2{
	height:auto;
	margin:30px 0px 20px 0px;
	paddign:0;
}

.footer_col2 h3{
	font-size: 30px;
    border-bottom: 2px solid #946ac4;
    color: #5fdaff;
}
.footer_col2 p{
	font-size: 18px;
    color: #ddd;
}

.footer_col3{
	background-color:#151414!important;
	height:auto;
	margin-left:10px;
}
.footer_col3 h3{
	color: #51fc66;
    padding: 26px 16px 5px 141px;
	
}
.footer_query_btn{
    margin-left: 14px;
    margin-bottom: 20px;
    padding: 5px 107px;
    width: 95%;
}

.footer{
	background-color:#000;
	text-align:center;
	font-family:arial;
	font-size:18px;
	color:#FFF;
	margin-bottom:0px;
	padding:7px;
}
.footer p{
	font-family:'KabelItcTEEDem';
	margin:0;
	display:inline;
}




#soc_media{
	paddign:0px;
}

#soc_media li{
	display:inline;
	margin:10px 9px;
}

#soc_media img{
	width:55px;
	height:auto;
}

#soc_media img:hover{
    opacity: 0.6;
}

.go_to_top{
	background-color:#151414;
	height:60px;
}
.go_to_top p{
    float: right;
    margin-right: 60px;
    font-size: 30px;
    border-radius: 3px;
    background-color: #0d405b;
    display: inline;
    padding: 2px 10px;
	
}

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}




/************************************************************************************************//************************************************************************************************//************************************************************************************************/
/*****Python language page CSS*****/

.plang_top_body{
	width:100%;
	height:600px;
	background-image:url("../images/1_ddfacNvt3oTREJgW_et0zQc.png");
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom:-15px;
	margin-top:25px;
}
.plang_top1_body{
    width:100%;
	height:700px;
	background-image:url("../images/jvv.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom:-15px;
	margin-top:25px;
    opacity: 1;
}
.plang_top2_body{
    width:100%;
	height:650px;
	background-image:url("../images/js.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom:-15px;
	margin-top:25px;
    opacity: 1;
}
.plang_top_body1{
	width:100%;
	height:600px;
	background-image:url("../images/Py_project_pic.png");
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom:-15px;
	margin-top:25px;
}
.plang_top_body2{
	width:100%;
	height:600px;
	background-image:url("../images/Ml_project_pic.png");
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom:-15px;
	margin-top:25px;
}


.plang_header{
	background-color:#DDD;
	height:170px;
}
.plang_header p{
	padding-left: 372px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: justify;
    font-size: 18px;
}
.plang_header h1{
	text-align:center;
	font-family:Chisel;
	font-weight:bold;
	font-size:65px;
	padding-top:30px;
	text-shadow: 0 0 15px #287dbe;
}
.plang_body1{
	background-color:#DDD;
	height:auto;
	margin-top: 30px;
}





.vid_show_vid iframe{
    width: 1080px;
    height: 568px;
    margin: 0 auto;
    border: 4px solid #121120;
    margin-top: 42px;
}

.vid_show {
    margin: 18px 0 5px 0;
}

.vid_show h3{
	width: 100%;
    margin: 9px 0 5px 20px;
}





.vid_title{
    margin: 32px 0px 0 0;
}
.vid_title input{
	    width: 100px;
    height: 40px;
}


.vid_title select{
    height: 40px;
    margin: 0 3px 0 5px;
    width: 72px;
    font-size: 15px;
}


.vid_titlep1{
	margin: 0 0 0 15px;
    font-size: 22px;
    background-color: #0d1441;
    color: #FFF;
    padding: 0px 17px;
    border-radius: 9px;
    display: inline;
    float: left;
    height: 40px;
}

#more {
	display: none;
}

.vide_desc{
	padding: 27px 33px 0 36px;
}

.vide_desc p{
	font-size: 19px;
    text-align: justify;
    font-family: 'Tahoma';
}

.vide_desc a{
	text-decoration: none;
    margin-left: 12px;
    background-color: #222;
    padding: 5px;
    border-radius: 16px 0px 16px 0px;
}

.vide_desc a:hover{
	background-color: #2c77cc;
	color: #FFF;
}


#readMoreBtn {
    border: none;
    background-color: #baaeae;
    font-weight: bold;
    color: #892323;
    padding: 0px 6px;
    border-radius: 3px;
}

#readMoreBtn:hover {
    border: none;
    background-color: #9e9090;
    font-weight: bold;
    color: ##cb1f1f;
    padding: 0px 6px;
    border-radius: 3px;
}


.but_mar_right{
	margin-right: 22px;
}

.form_no_mar{
	margin: 0 0;
	padding: 0 0;
}


.clearfix{
	height:70px;
}

.pylang_comment_box{
    margin: 10px 0 0 205px;
    height: auto;
    width: 650px;
    background-color: #DDD;
}

.pylang_comment_box h4{
	    margin-top: 103px;
}

.pylang_comment_box textarea{

}

.pylang_comment_box input{
	margin: 10px 0 40px 1px;
    width: 98px;
    font-size: 18px;
}

.pylang_comments{
	max-height: 160px;
    height: auto;
    width: 1033px;
    margin: 10px 0 30px 205px;
    background-color: #c8c7c5;
    padding: 15px 14px;
    border-left: 5px solid #4056d7;

}

.pylang_comments img{
	border: 2px solid #363535;
    margin: 0 0 0 -15px;
    width: 70px;
    height: 70px;
}

.pylang_comments h4{
    margin: -2px 0 0 -67px;
    display: inline;
    float: left;
    color: #030303;
}

.pylang_comments h5{
	margin: 1px 0 0 20px;
    display: inline;
    float: left;
    color: #4d3b07;
}

.com_faltu p{
	margin: 10px 0 0 -66px;
    font-size: 20px;
    font-family: Consolas;
        text-align: justify;
}


.try_now p{
    margin: 20px 0 0 32px;
    display: inline;
    float: left;
}

.try_now a{
    background-color: #2aa92a;
    color: #FFF;
    padding: 10px;
    border-radius: 6px;

}

.try_now a:hover{
	    text-decoration: none;
    background-color: #35c635;
    color: #FFF;
    transition: 0.3s all ease;
}


.mqc_offer{

}

.mqc_offer p{
	margin: 29px 0 0 24px;
    font-size: 21px;
}

.mqc_offer a{
	margin-left: 8px;
    background-color: #8b0909;
    padding: 3px 19px;
    border-radius: 1pc;
    color: #FFF;
    font-size: 22px;
    font-weight: bold;
    border-bottom: 2px solid #d72626;
    border-right: 2px solid #d72626;
}

.mqc_offer a:hover{
	text-decoration: none;
	color:#FFF;
	background-color: #d72626;
	transition: 0.3s all ease;
}

.replay_on_video{
	margin: 0px 0 0 20px;
    background-color: #4c2b72;
    padding: 4px 8px;
    color: #FFF;
    border-radius: 3px;
    font-weight: normal;
    border: 1px solid #5c32b6;
}

.replay_on_video:hover{
    background-color: #633597;

}



/**********************************************************************************************/
/**********************************************************************************************/
/*********FAQ page CSS********/

.Faq_mainBody{
    width: 100%;
    margin: 9px 0 80px 0;
    height: 90px;
}

.Faq_mainBody h2{
	display: inline;
    float: left;
    margin: 28px 0 0 47px;
    font-family: Celtic;
    font-weight: bold;
    font-size: 51px;
    color: #1a6129;
}


.Faq_nav{
	display: inline;
	float: right;
	margin: 33px 41px 0px 0px;
}
.Faq_nav ul{
	list-style-type: none;

}
.Faq_nav li{
    float: left;
    text-align: center;
    width: 191px;
}



.Faq_nav li a{
	color: #132a80;
    text-decoration: none;
    padding: 10px 5px;
    display: block;
    font-size: 19px;
    font-weight: bold;
    border: 4px solid #243e82;
    border-radius: 30px;
    margin: 0 0 0 11px;
}

.Faq_nav li a:hover{
	background:#243e82;
	color: #FFF;
	transition: 0.3s all ease;
}

#faq_menu_active{
	background: #0f1e47;
    color: #FFF;
    border: 4px solid #0f1e47;
}

.main_Faq_div{
	border: 2px solid #111;
    margin-bottom: 25px;
    background-image: linear-gradient(to right, #e17070, #6b8df3 );
}

.question_serial{
	height: 50px;
	margin: 8px 0 9px 0px;
}
.question_serial p{
	display: block;
    float: left;
    margin: 7px 186px 0 476px;
    background-color: #18184b;
    color: #FFF;
    padding: 7px;
    border-radius: 7px;
    font-size: 20px;
}

.ask_persion{
    margin: 1px 0px 0px -49px;
    padding-bottom: 24px;
    padding-top: 30px;
}


.ask_persion img{
	margin-left: 96px;
    width: 70px;
    height: 75px;
    border: 2px solid #111;
}

.ask_persion h3{
margin: 33px 0 0 0;
}
.ask_persion p{
    margin: 39px 0px 0px -125px;
    font-weight: bold;
    color: #700505;
}


.question_part{

}

.question_part pre{
	margin: 0 57px 87px 65px;
    text-align: justify;
    font-size: 19px;
}


/*Faq modal img css*/

.modal-lg1{
    max-width: 94%;
}

.pop_up_img{
	width: 98%;
    height: auto;
    margin: 0 0 0 14px;
}
.no_padding{
	padding:0;
}

.show_faq_img{
	margin: -40px 0 55px 942px;
}




.comment_pane{
	padding: 0 55px;
    margin: 0 0 72px 0;
}

.comment_pane h4{
	    margin: 0 0 10px 4px;
}

.comment_pane input{
	    margin: 13px 0 0 1px;
    width: 172px;
    font-size: 21px;
    background-color: #2e9524;
}



.Faq_comments{
	max-height: 160px;
    height: auto;
    width: 960px;
    margin: 10px 0px 45px 62px;
}

.Faq_comments img{
	border: 2px solid #363535;
    margin: 0 0 0 -15px;
    width: 70px;
    height: 70px;
}

.Faq_comments h4{
    margin: -2px 0 0 -67px;
    display: inline;
    float: left;
    color: #0a4113;
}

.Faq_comments h5{
	margin: 1px 21px 0 20px;
    display: inline;
    float: left;
    color: #552727;
}

.com_faltu p{
	margin: 10px 0 0 -66px;
    font-size: 20px;
    font-family: Consolas;
}
.sl_text{
	height: 38px;
    width: 81px;
    border: none;
    text-align: center;
    font-size: 18px;
    border-radius: 4px;
}
.selector_btn_grp p{
	display: inline;
	margin: 0px 25px 0 24px;
    background-color: #111;
    width: 50px;
    color: green;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 2px 0px;
}

.faq_go_btn {
	margin:0 0px 0 0px;
    width: 190px;
}
.top_serial_trans{
	width: 146px;
    margin: 0 582px 0 29px;
}



/**********************************************************************************************/
/**********************************************************************************************/
/********************************** FAQ Add User page css *************************************/

.Faq_add_user{
    margin-bottom: 68px;
    border: 2px solid;
    padding: 28px 0px 70px 32px;
    background-image: linear-gradient(to bottom, #131322, #152b4d );
    border-radius: 0;
}

.Faq_add_user img{
	width: 80px;
    height: 87px;
    display: inline;
    border: 2px solid #FFF;
}

.Faq_add_user h3{
	display: inline;
    margin: 0px 0 0 36px;
    padding: 0px 0 0 0;
    color: #FFF;;
	
}




#options_del_edit {

}

#options_del_edit a{
	position: relative;
}

#options_del_edit img{
	border: none;
    margin: 1px 0 0 20px;
    width: 29px;
    height: auto;
}


#options_del_edit ul{
    list-style-type: none;
    padding-top: 16px;
    margin: -15px 0 4px -90px;
    width: 124px;
    height: 107px;
    position: absolute;
    left: -9999px;
}

#options_del_edit a:hover ul{
	left: 10px;
}

#options_del_edit ul li{
	float: none;
}

#options_del_edit ul li button{
	width: 100px;
    height: 40px;
    margin: 0px 0 0px 0px;
    background-color: #3f2970;
    color: #FFF;
    font-weight: bold;
    border: 6px solid #1d0b3c;
}

#options_del_edit ul li button:hover{
    background-color: #683cc8;
    color: #FFF;
}

.faq_post{
	    padding: 0 42px 0 0;
    margin: 50px 0 35px 0;
}

.faq_submit{
	margin: 18px 0 0 0;
    width: 198px;
    height: 62px;
    font-size: 30px;
}

.faq_post textarea{
	width: 1067px;
	margin-bottom: 28px;
}

.faq_post select{
	 margin: -180px 0 0 0;
}

.selector_btn_grp{
	width: 1113px;
    margin: 0 0 30px 198px;
}


.faq_post h4 {
    font-weight: normal;
    font-size: 22px;
    margin: 5px 0 21px 18px;
}


.selector_btn_grp select{
	width: 92px;
    margin: 0 15px 27px 0px;
}


#exampleFormControlFile1 {
    border: 1px solid;
    border-radius: 0px 8px 8px 0px;
    background-color: #173145;
}

.pd-10{
	padding: 0 10px;
}

.para_small{
	font-size: 19px;
}


/**********************************************************************************************/
/**********************************************************************************************/
/*************************************** MCQ page *********************************************/


.mcq_timer_div{
	background-color: #a0b6d7;
    margin: 0 75px 53px 76px;
    text-align: center;
    height: 102px;
    position: sticky;
    top: 0px;
}

.mcq_identifier_p{
	display: inline;
    font-size: 30px;
    font-weight: bold;
    float: left;
    margin: 24px 0 0 43px;
}

#mc_timer{
	font-size: 50px;
    font-weight: bold;
    font-family: 'Digital-7';
    margin: 16px 32px 12px 0px;
    display: inline;
    float: right;
}


.MCQ_div{
	margin: 32px 76px 48px 76px;
    padding: 30px;
    background-color: #000;
    border-radius: 8px;
}

.MCQ_div p{
	color: #FFF;
    font-size: 21px;
    margin-top: 50px;
    font-family: 'Consolas';
}


.op_a{
	margin: 4px 0px 6px 20px;

}

.mqc_submit{
    margin: 38px 0 17px 1018px;
    width: 265px;
    height: 62px;
    font-size: 33px;
}

.mcq_result{
	    background-color: #272e38;
    margin: 0 73px 53px 74px;
    padding: 28px 0 19px 36px;
    border-radius: 202px 202px 8px 5px;
    text-align: center;
}

.mcq_result h4{
	    color: #67fff8;
    font-size: 35px;
}

.mcq_result p{
	margin-top: 15px;
    color: #FFF;
    font-size: 24px;
}
.mcq_result a{
	margin: 0 0 0 1075px;
    color: #FFF;
    padding: 6px 12px;
    border-radius: 5px;
    background-color: #ef1515;
    font-size: 18px;
}

.mcq_result a:hover{
	text-decoration: none;
    background-color: #9b0e0e;
}


/**********************************************************************************************/
/**********************************************************************************************/
/*************About page CSS*************/

#about_main_head{
	text-align: center;
    font-family: Chisel;
    font-weight: bold;
    font-size: 65px;
    padding-top: 30px;
    text-shadow: 0 0 15px #287dbe;
        margin: 0 0 85px 0;
}

.about_head{
	font-size:72px;
	color:#18a116;
	text-align:center;
}

.about_head1{
	color:#222;
	text-align:center;
}

.bd_top{
	border-top:2px solid #111;
}

.member{
	height:350px;
	width:100%;
	border-bottom:2px solid #111;
}
.img_part img{
	margin-top:20px;
	width:200px;
	border: 3px solid #123364;
}
.member h2{
	margin-top:20px;
}

.decs_m img{
	margin-left:4px;
	width:15px;
}


.decs_m a{
	text-decoration:none;
	padding-top:2px;
}





/**********************************************************************************************/
/**********************************************************************************************/
/******************************profile page CSS**********/
.up_top_body{
	background-color:#DDD;
}

.up_top_body h1{
	text-align:center;
	font-family:Chisel;
	font-weight:bold;
	font-size:65px;
	padding-top:30px;
	text-shadow: 0 0 15px #287dbe;
	
}

.up_body{
	background-color: #adb1ed;
    height: auto;
    padding-left: 231px;
    margin: 42px 0 0 0;
    border-bottom: 6px solid #22244b;
    border-top: 6px solid #262953;
    box-shadow: 0px 8px 17px 6px rgb(8 21 42 / 30%);
}

.about_div1{
	width:100%;
	height:600px;
	background-image:url("../images/about_us.png");
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom:50px;
	margin-top:25px;
	
}


.pro_row1{
	margin-top:60px;
}
.pro_row1 img{
    border: 8px solid #121d24;
    margin: 30px 0px;
    width: 240px;
    display: inline;
    float: left;
	
}


.modal_my_class{
	background-color:#192c2c;
}
.clr_white{
	color:#FFF;
}


.profile_info h2{
	margin: 36px 0px 10px 10px;
    font-size: 39px;
    color: #875017;
}

.info_user p{
    margin: 10px 0px 0px 43px;
    font-size: 22px;
    font-weight: bold;
}

.info_user1{
    margin: 0px 0px 70px 0px;
}

.info_user1 p{
    margin: 10px 97px 0px 0px;
    font-size: 22px;
    font-weight: bold;
}

.info_user1 button{
    margin: 0px 0px 0px 119px;
    font-size: 18px;
    font-weight: bold;
}


.txt_left{
	text-align:left;
}

.txt_right{
	text-align:right;
}

.res_table_name{
    margin: 37px 0 13px 0;
}

.res_table_name h2{
	text-align: center;
    color: #0f743c;
    display: inline;
    margin: 0 0 0 289px;
    border-left: 4px solid;
    background-color: #bebebe;
    padding: 0 27px 0 8px;
}

.res_table_name button{
	background-color: #318413;
    color: #FFF;
    padding: 3px 8px;
    border-radius: 4px;
    margin: 0 0 0 27px;
    border: 2px solid #369912;
}

.res_table_name button:hover{
	background-color: #369912;
	border: 2px solid #369912;
}


.center-div_profile{
    width: 61%;
    height: auto;
    background-image: linear-gradient(to bottom, #080d1e, #3b615e);
    padding: 35px 0 35px 0;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.3);
    margin: 0 auto;
    margin-bottom: 40px;
    display: none;
}


.center-div_profile table{
    border-collapse: collapse;
    background-color: #FFF;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.3);
    border-radius: 10px;
    margin: auto;
}

.center-div_profile th,td{
    border: none;
    padding: 8px 16px;
    color: #111;
}

.center-div_profile th{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    border-bottom: 2px solid #242959;
}

.center-div_profile td{
    font-size: 18px;
    text-align: center;
}

.profile_to_test_link{
	display: inline;
    background-color: #0f6408;
    color: #FFF;
    padding: 2px 33px 4px 31px;
    border-radius: 5px;
    border: 1px solid #35b21b;
}

.profile_to_test_link:hover{
	text-decoration: none;
	color: #FFF;
	background-color: #35b21b;
	border: 1px solid #35b21b;
}



.post_show_div {
    margin: 37px 0 2px 0;
}
.post_show_div p{
	border-left: 4px solid #0c3a20;
    font-size: 27px;
    display: inline;
    background-color: #c0c4c3;
    margin: 0px 0 0 287px;
    padding: 3px 89px 5px 11px;
    font-weight: bold;
    color: #ed5858;
}

#show_post_btn {
    margin: 5px 0px 34px 27px;
    padding: 4px 11px;
    border: 1px solid #ac3d3d;
    border-radius: 4px;
    background-color: #ff5d5d;
    color: #FFF;
}

#show_post_btn:hover {
    background-color: #ac3d3d;

}


.sell_table_title{
	margin: 11px 0px 0 3px;
}

.select_all_btn{

}
.ad_select_del_btn{
	margin-left: 100px
}




.post_list{
	display: none;
	width: 936px;
    margin: 0 0 31px 282px;
    padding: 4px 21px;
    background-color: #bfc6bf;
    border-radius: 10px;

}

.post_list table{
	margin-top:15px;
	margin-bottom:15px;
	text-align:center;
    border-collapse: collapse;
    width: 100%;
	border:2px solid #111;
	border-radius: 10px;
}

.post_list th, td {
	width: 130px; 
    text-align: left;
    padding: 8px;

}

.post_list tr:nth-child(even){background-color: #f2f2f2}
.post_list tr:nth-child(odd){background-color: #DDD}

.post_list th {
    background-color: #172838;
    color: white;
	
}

.go_to_post_btn {
    background-color: #ba1313;
    color: #FFF;
    padding: 4px 13px;
    border-radius: 3px;
    border: 1px solid #ce2626;
}

.go_to_post_btn:hover {
	text-decoration: none;
    background-color: #860101;
    border: 1px solid #860101;
}

#text_center{
	text-align: center;
}


/**********************************************************************************************/
/**********************************************************************************************/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@ new profile @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/



.main-body {
    padding: 15px;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: .25rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}
.me-2 {
    margin-right: .5rem!important;
}


/**********************************************************************************************/
/**********************************************************************************************/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@ Admin control pane @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

.admin_j_000976 {
    text-align: center;
    margin-top: 38px;
}

.em_sidebar_div{
	background-color: #151515!important;
    margin: 0px 0 0 0px;
    height: auto;
    padding: 20px 0 0 0px;
    min-height: 685px;
    

}


#em_menu{
    list-style-type: none;
    margin-top: 50px;
    padding: 0px 0 0 0px;
    position: sticky;
    top: 140px;

}

#em_menu a{
    font-size: 28px;
    font-weight: bold;
    color: #FFF;
    display: block;
    padding: 19px 0 21px 43px;
    font-family: 'Tahoma';

}


#em_menu a:hover{
    text-decoration: none;
    background-color:#000001;
    color:#fff;
    transition: 0.6s all ease;

}

#active_style{
    border-left: 6px solid #2089ae;
    background-color: #000; 
}
#active_style a{

    color: #3ea5b6;
}


.up_top_body1{
	background-color:#DDD;
	padding: 0;
}

.up_top_body1 h1{
	text-align:center;
	font-family:Chisel;
	font-weight:bold;
	font-size:65px;
	padding-top:30px;
	text-shadow: 0 0 15px #287dbe;
	
}

.admin_table_buttons{
	margin: 0px 0 0 24px;
}

.select_all_admin{

}

.admin_display{
	margin: 0 0 0 20px;
}

.admin_delete{
	margin: 0 0 0 20px;
}

.ad_refresh_btn{
	margin: 8px 201px 0 190px;
    width: 233px;
}

.search_box{
	display: inline;
    border: 2px solid;
    width: 218px;
}



.center-div-admin{
    width: 96%;
    height: auto;
    background-image: linear-gradient(to bottom, #19161a, #4c3851);
    padding: 20px 0 20px 0;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.3);
    margin: 0 auto;
    margin-bottom: 40px;
}


.center-div-admin table{
    border-collapse: collapse;
    background-color: #FFF;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.3);
    border-radius: 10px;
    margin: auto;
}

.center-div-admin th,td{
    border: none;
    padding: 8px 30px;
    text-align: left;
    color: #111;
}

.center-div-admin th{
    /*text-transform: uppercase;*/
    font-weight: 500;
    font-size: 18px;
    border-bottom: 2px solid #242959;
}

.center-div-admin td{
    font-size: 14px;
}

.user_display_div{
	width: 96%;
    background-color: #0d021e;
    padding: 14px 25px;
    margin: 0 0 67px 26px;
    border-radius: 12px;
}
.user_display_div img{
	width: 238px;
    height: auto;
    margin: 16px 0 39px 7px;
}

.radio_button001_lbl{
	color: #FFF;
    font-size: 19px;
    margin: 0px 77px 0px 2px;
}

.multi_select{
	margin: -63px 0 0 0;
}


.admin_update_btn{
	width: 359px;
    font-size: 25px;
    margin: 16px 0 0 0;
    background-color: #0db20e;
    border: 1px solid #0d890d;
    font-weight: bold;
}

.admin_update_btn:hover{
    background-color: #0d890d;
    border: 1px solid #0d890d;

}

.admin_clear_btn_1 {
    width: 359px;
    font-size: 25px;
    margin: 16px 0 0 0;
    background-color: #ba5614;
    border: 1px solid #6e2f05;
    font-weight: bold;
}

.admin_clear_btn_1:hover {
    background-color: #6e2f05;
    border: 1px solid #6e2f05;

}

.admin_user_posts_btn {
    width: 108px;
    margin: 16px 140px 0 0px;
    height: 48px;
}

.admin_user_result_btn{
	height: 48px;
	margin: 19px 0 0 0;
}


.center-div-admin_1{
    width: 69%;
    height: auto;
    background-image: linear-gradient(to bottom, #080d1e, #3b615e);
    padding: 10px 0 35px 0;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.3);
    margin: 0 auto;
    margin-bottom: 40px;
    display: none;
}


.center-div-admin_1 table{
    border-collapse: collapse;
    background-color: #FFF;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.3);
    border-radius: 10px;
    margin: auto;
}

.center-div-admin_1 th,td{
    border: none;
    padding: 8px 16px;
    color: #111;
}

.center-div-admin_1 th{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    border-bottom: 2px solid #242959;
}

.center-div-admin_1 td{
    font-size: 18px;
    text-align: center;
}

.center-div-admin_1 h4{
	color: #FFF;
    text-align: center;
    margin: 0px 0 12px 0px;
}



.center-div-admin_2{
    width: 69%;
    height: auto;
    background-image: linear-gradient(to bottom, #080d1e, #3b615e);
    padding: 10px 0 35px 0;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.3);
    margin: 0 auto;
    margin-bottom: 40px;
    display: none;
}


.center-div-admin_2 table{
    border-collapse: collapse;
    background-color: #FFF;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.3);
    border-radius: 10px;
    margin: auto;
}

.center-div-admin_2 th,td{
    border: none;
    padding: 8px 16px;
    color: #111;
}

.center-div-admin_2 th{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    border-bottom: 2px solid #242959;
}

.center-div-admin_2 td{
    font-size: 18px;
    text-align: center;
}

.center-div-admin_2 h4{
	color: #FFF;
    text-align: center;
    margin: 0px 0 12px 0px;
}



/**********************************************************************************************/
/**********************************************************************************************/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@ Admin video control @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

.ad_vid_refresh_btn {
    margin: 8px 70px 0 61px;
    width: 233px;
}

.ad_vid_select{
	margin: 0px 51px 0 0px;
    display: inline;
}

.admin_vid_insert_btn{
		width: 359px;
    font-size: 25px;
    margin: 16px 0 0 0;
    border: 1px solid #0d890d;
    font-weight: bold;
}
.ad_vid_total{
	    margin: 25px 0 0 0px;
}
.ad_vid_total p{
	color: #FFF;
    margin: 0px 766px 0px 79px;
    font-size: 20px;
    display: inline;
}


/**********************************************************************************************/
/**********************************************************************************************/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@ Admin MCQ control @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/


.ad_mcq_select{
	margin: 0px 0px 0 0px;
    display: inline;
}

.ad_serial_select{
	margin: 0px 0px 0 0px;
    display: inline;
}

.ad_mcq_refresh_btn{
	margin: 8px 95px 0 145px;
    width: 287px;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

.ad_send_main_btn{
	
}
